<%if @status=="following"%>
Following
<ul>
<%@friendships.each do |friendship|%>
<li><%=friendship.invitee.name%></li>
<%end%>
</ul>
<%else%>
Follower
<ul>
<%@friendships.each do |friendship|%>
<li><%=friendship.invitor.name%></li>
<%end%>
</ul>
<%end%> 