<% if @status=="following"%>
  Friends
  <ul>
    <%@friendships.each do |friendship|%>
    <li><%=friendship.invitee.name%></li>
    <%end%>
  </ul>
<%else%>
  Invite Sent
  <ul>
    <%@friendships.each do |friendship|%>
    <li><%=friendship.invitor.name%></li>
    <%end%>
  </ul>
<%end%> 